<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-grid class="bg-green-900 text-white">
      <ion-row>
        <ion-title>{{ titulo }}</ion-title>

        <!-- Perfil y saludo -->
        <div class="flex items-center gap-4 mr-6">
          <div>
            <div class="text-gray-300 text-lg font-semibold">Usuario</div>
            <div class="text-zinc-400 text-xs">Tipo de Usuario</div>
          </div>
          <img
            src=""
            alt="Imagen de perfil"
            class="w-14 h-14 rounded-full bg-gray-200 object-cover"
          />


        </div>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
