<app-header titulo="Mis Pedidos"></app-header>

<ion-content [fullscreen]="true" class="bg-white">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    pullFactor="0.8"
    pullMin="60"
    pullMax="120"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-fabbtn></app-fabbtn>
  <div class="max-w-lg mx-auto p-4 mt-16">
    <!-- Filtros / Acciones -->
    <div class="flex justify-center gap-3 mb-6">
      <ion-chip
        mode="ios"
        (click)="selectFilter('todos')"
        [class]="
          selectedFilter === 'todos'
            ? 'px-4 py-1 rounded-full bg-blue-600 text-white shadow'
            : 'px-3 py-1 rounded-full bg-gray-100 text-gray-700'
        "
      >
        <ion-label>Todos</ion-label>
      </ion-chip>

      <ion-chip
        mode="ios"
        (click)="selectFilter('recientes')"
        [class]="
          selectedFilter === 'recientes'
            ? 'px-4 py-1 rounded-full bg-indigo-600 text-white shadow'
            : 'px-3 py-1 rounded-full bg-gray-100 text-gray-700'
        "
      >
        <ion-label>Recientes</ion-label>
      </ion-chip>

      <ion-chip
        mode="ios"
        (click)="selectFilter('pendientes')"
        [class]="
          selectedFilter === 'pendientes'
            ? 'px-4 py-1 rounded-full bg-yellow-400 text-black shadow'
            : 'px-3 py-1 rounded-full bg-gray-100 text-gray-700'
        "
      >
        <ion-label>Pendientes</ion-label>
      </ion-chip>

      <ion-chip
        mode="ios"
        (click)="selectFilter('ultima')"
        [class]="
          selectedFilter === 'ultima'
            ? 'px-4 py-1 rounded-full bg-green-600 text-white shadow'
            : 'px-3 py-1 rounded-full bg-gray-100 text-gray-700'
        "
      >
        <ion-label>Última</ion-label>
      </ion-chip>
    </div>

    <!-- spinner de carga -->
     @if (loading) {
       <div class="ion-text-center p-4">
         <ion-spinner name="crescent"></ion-spinner>
        </div>
      }

    <!-- Sección Pedidos Activos -->
    <h2 class="text-2xl font-bold text-gray-300 mb-4">Pedidos</h2>

    <!-- Lista de pedidos activos -->
    <div class="flex flex-col gap-4">
      <div
        *ngIf="!loading && pedidosActivos.length === 0"
        class="w-full p-6 text-center text-gray-400"
      >
        No hay pedidos activos.
      </div>

      <div *ngFor="let pedido of pedidosActivos" class="w-full">
        <ion-card class="w-full">
          <img
            [src]="pedido.imagen"
            [alt]="pedido.nombre"
            class="rounded-md w-full h-32 object-cover"
          />
          <ion-card-header>
            <ion-card-title class="text-lg font-bold">
              <p class="text-gray-800 font-semibold">Orden #{{ pedido.id }}</p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="text-sm">
            <div class="flex justify-between items-center mb-3">
              <ion-chip class="px-2 py-1 rounded-md" [class]="getEstadoChip(pedido.estado).class">
                <ion-label class="text-lg font-semibold text-black">{{ getEstadoChip(pedido.estado).label }}</ion-label>
              </ion-chip>
            </div>
            <div class="flex justify-between items-center mb-3">
              <ng-container>
                @if (pedido.estado?.includes('listo')) {
                  <p
                  class="text-xs text-green-600 font-semibold"
                  >
                  ¡Recoge tu pedido!
                </p>
              }
              </ng-container>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <!-- Sección Historial -->
    <h2 class="text-2xl font-bold text-gray-500 mb-4">Historial Reciente</h2>

    <div class="flex flex-col gap-4 mb-6">
      @if (!loading && pedidosHistorial.length === 0) {
        <div
        class="w-full p-6 text-center text-gray-400"
        >
        No hay historial de pedidos.
      </div>
    }
      <div *ngFor="let pedido of pedidosHistorial" class="w-full">
        <ion-card class="p-1 w-full">
          <img
            [src]="pedido.imagen"
            [alt]="pedido.nombre"
            class="rounded-md w-full h-32 object-cover"
          />
          <ion-card-header>
            <ion-card-title class="text-lg font-bold">
              <p class="text-gray-100 font-semibold">Pedido #{{ pedido.id }}</p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="text-sm">
            <div class="flex justify-between items-center mb-3">
              <ion-chip [class]="getEstadoChip(pedido.estado).class">
                <ion-label class=" text-black font-semibold text-lg"
                  >{{ getEstadoChip(pedido.estado).label }}</ion-label
                >
              </ion-chip>
            </div>

            @if (getEstadoChip(pedido.estado).label === 'ENTREGADO') {
              <ion-button
              fill="outline"
              color="warning"
              size="small"
              class="w-full"
            >
              <ion-label id="open-loading">Volver a pedir</ion-label>
            </ion-button>
          }
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
