/* Ocultar scrollbar pero permitir scroll */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

ion-content {
  --background: #000000; /* Fondo negro puro */
  --color: #ffffff;
}
