/* Ocultar scrollbar pero permitir scroll */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

ion-content {
  --color: #ffffff;
}

/* Barra de categorías fija */
.categories-bar {
  position: sticky;
  top: 0;
  z-index: 40;
}
