<app-header titulo="Dashboard"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="welcome-section mt-16">
    <h2>Bienvenido, {{ user?.nombre }}</h2>
    <p class="muted">Panel administrativo</p>
  </div>

  <ion-card>
    <ion-button (click)="editarMenu()" color="tertiary" fill="outline" class="mx-auto my-4 block w-5/6">
      <ion-icon slot="start" name="pencil" class="text-purple-300"></ion-icon>
      <ion-label class="text-purple-300">Editar Menú</ion-label>
    </ion-button>
    <ion-card-header>
      <ion-card-title>Productos Activos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        @for (p of products; track $index) {
          <ion-item>
            @if (p.imagen) {
            <img
            [src]="p.imagen"
            slot="start"
            alt="{{p.nombre}}"
            style="
            width: 56px;
            height: 56px;
            object-fit: cover;
            border-radius: 6px;
            margin-right: 12px;
            "
            />
            }
            <ion-label>
              <h3>{{ p.nombre }}</h3>
              <p class="muted">{{ p.descripcion }}</p>
              <p class="price">${{ p.precio | number:'1.2-2' }}</p>
            </ion-label>
            <ion-badge slot="end" color="success">Activo</ion-badge>
          </ion-item>
        }
          <ion-item *ngIf="products.length === 0">
          <ion-label>No hay productos activos.</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
