<app-header titulo="Registro Empleado"></app-header>

<ion-content [fullscreen]="true">
  <div class="mt-20">
    <ion-card mode="ios">
      <ion-card-header>
        <ion-card-subtitle
          >Completa los datos del nuevo empleado</ion-card-subtitle
        >
        <ion-card-title>Registrar Empleado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Usuario (username)</ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="isFieldInvalid('username')"
            >{{ getError('username') }}</ion-text
          >

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="isFieldInvalid('email')"
            >{{ getError('email') }}</ion-text
          >

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="isFieldInvalid('password')"
            >{{ getError('password') }}</ion-text
          >

          <ion-item>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input
              type="password"
              formControlName="confirmPassword"
            ></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="isFieldInvalid('confirmPassword')"
            >{{ getError('confirmPassword') }}</ion-text
          >

          <div class="ion-margin-top">
            <ion-button
              expand="block"
              type="submit"
              [disabled]="!empleadoForm.valid || submitting"
            >
              <ng-container *ngIf="!submitting"
                >Registrar Empleado</ng-container
              >
              <ng-container *ngIf="submitting">Registrando...</ng-container>
            </ion-button>
            <ion-button
              expand="block"
              fill="outline"
              color="medium"
              (click)="cancel()"
              >Cancelar</ion-button
            >
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
