<app-header titulo="Inicio"></app-header>

<ion-content class="bg-white">
  <ion-refresher
  slot="fixed"
  (ionRefresh)="doRefresh($event)"
    pullFactor="0.8"
    pullMin="60"
    pullMax="120"
  >
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<app-fabbtn></app-fabbtn>

  <div class="max-w-lg mx-auto p-4">
    <!-- Acceso rápido -->
    <div class="fixed left-0 right-0 flex justify-center gap-2 z-10">
      <ion-chip
        class="bg-green-100 text-green-900 font-semibold"
        routerLink="/menu"
        mode="ios"
      >
        <ion-label class="ion-text-center">menú</ion-label>
      </ion-chip>

      <ion-chip
        class="bg-yellow-100 text-yellow-900 font-semibold"
        routerLink="/pedidos"
        mode="ios"
      >
        <ion-label class="ion-text-center">pedidos</ion-label>
      </ion-chip>

      <ion-chip
        class="bg-blue-100 text-blue-900 font-semibold"
        (click)="navigateToTop()"
        mode="ios"
      >
        <ion-label class="ion-text-center">Promos</ion-label>
      </ion-chip>

      <ion-chip
        class="bg-purple-100 text-purple-900 font-semibold"
        (click)="navigateToBottom()"
        mode="ios"
      >
        <ion-label>Destacados</ion-label>
      </ion-chip>
    </div>

    <!-- Saludo -->
    <div class="mb-4 mt-8">
      <h1 class="text-3xl font-bold ion-text-center ion-padding">
        ¡Bienvenido a Cenaduraía Sonic!
      </h1>
      <p class="text-zinc-500">
        La mejor comida sobre ruedas, directo a tu antojo.
      </p>
    </div>

    <!-- Promociones -->
    <div class="mb-6">
      <h2 class="text-xl font-semibold mb-2">Promociones</h2>
      <ion-grid fixed>
        @if (promociones.length === 0) {
        <p class="text-center text-gray-400">
          No hay promociones en este momento.
        </p>
        } @else { @for (promocion of promociones; track $index) {
        <ion-row>
          <ion-card class="p-1" mode="ios">
            <img
              [src]="promocion.image"
              [alt]="promocion.name"
              class="rounded-md"
            />
            <ion-card-header>
              <ion-card-title class="text-lg font-bold">
                <p class="text-gray-800 font-semibold">{{ promocion.name }}</p>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-sm">
              <p class="text-gray-600">{{ promocion.description }}</p>
            </ion-card-content>
          </ion-card>
        </ion-row>
        } }
      </ion-grid>
    </div>

    <!-- Menú destacado -->
    <div class="mb-6">
      <h2 class="text-xl font-semibold mb-2">Menú Destacado</h2>
      <div class="grid gap-3">
        @if (menuDestacado.length === 0) {
        <p class="text-center text-gray-400">
          No hay elementos destacados en el menú en este momento.
        </p>
        } @else { @for (item of menuDestacado; track $index) {
        <ion-card mode="ios" class="shadow-sm">
          <div class="flex items-center p-4">
            <!-- <div
              class="w-16 h-16 flex items-center justify-center bg-green-50 rounded-lg text-3xl mr-4"
            >
              {{ item.icon }}
            </div> -->
            <div class="flex-1">
              <div class="text-lg font-semibold">{{ item.name }}</div>
              <!-- <div class="text-sm text-zinc-500">{{ item.description }}</div> -->
            </div>
            <div class="text-lg font-bold ml-4">${{ item.price }}</div>
          </div>
        </ion-card>
        } }
      </div>
    </div>
  </div>
</ion-content>
