  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button color="tertiary" class="shadow-lg">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="navigateToPerfil()" color="primary">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        (click)="onThemeToggle()"
        [color]="themeService.isDarkMode() ? 'dark' : 'warning'"
      >
        <ion-icon
          size="small"
          [name]="themeService.isDarkMode() ? 'moon' : 'sunny'"
        ></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>